<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zmplayer2.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name="zmplayer2.app.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.views.MainActivity"
            android:logo="@drawable/icon_white"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.views.SettingsActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!--<receiver-->
            <!--android:name=".receivers.RemoteControl">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.HEADSET_PLUG" />-->
                <!--<action android:name="android.intent.action.PHONE_STATE" />-->
                <!--<action android:name="zmp.playPause" />-->
                <!--<action android:name="zmp.nextSong" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name=".service.PlayerService"
            android:enabled="true"
            android:exported="true" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="b8ec19691e04a8ce88b35817c468b7f9b704e568"/>

    </application>

</manifest>
